/*-----INDEX.HTML-------*/

/*-----GENERAL-----*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --main-text-color: #ffffff;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --other-color: #f5f4fa;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --background-color: #2f303a;
  --svg-team-icon-color: #afb1b8;
  --footer-hover-color: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  background: var(--main-text-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center;
}

/*----- END GENERAL-----*/

/*-----HEADER-----*/

.header .container {
  display: flex;
}
.logo {
  margin-right: 93px;
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
}
.navigation-second {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
.list-telephone {
  margin-left: 30px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-second {
  color: var(--logo-color);
}

.navigation-list-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.nav-list-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list-link:hover,
.nav-list-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
  position: relative;
}
.current::after {
  display: flex;
  content: '';
  width: 48px;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
}
.current-portfolio {
  color: var(--accent-color);
  position: relative;
}
.current-portfolio::after {
  display: flex;
  content: '';
  width: 78px;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
}

.size-navigation {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-mail,
.header-tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-icon-header {
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mail:hover .list-icon-header {
  fill: var(--accent-color);
}
.header-tel:hover .list-icon-header {
  fill: var(--accent-color);
}
.list-icon-header {
  margin-right: 10px;
}
/*-----END HEADER-----*/

/*------MAIN------*/
.overlay {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/main/Overlay.jpg);
  background-color: var(--logo-color);
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.services {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-text-color);
  width: 660px;
  margin: 0 auto;
}
.button {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: solid transparent;
  margin-top: 30px;
}

.pictures-items {
  padding: 20px 24px 20px 24px;
}
.list-quality:not(:last-child) {
  margin-right: 30px;
}
.list-quality::before {
  display: block;
  content: '';
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--other-color);
}
.icon-group::before {
  background-image: url(../images/quality/Group.svg);
}
.icon-clock::before {
  background-image: url(../images/quality/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/quality/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/quality/astronaut.svg);
}

.list-forms {
  display: flex;
  justify-content: space-between;
}
.middle {
  padding-top: 94px;
}

.quality {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.quality-inside {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  width: 270px;
}

.job-picture:not(:last-child) {
  margin-right: 30px;
}
.job-picture {
  position: relative;
}

.picture-list {
  display: flex;
  justify-content: space-between;
}
.kind-job-color {
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
}
.kind-job {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  white-space: nowrap;
  color: var(--main-text-color);
}

.about-us,
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.icon-list-team {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-list-team:hover .team-svg {
  fill: var(--footer-hover-color);
}
.icon-list-team:hover {
  background-color: var(--accent-color);
}
.team-svg {
  fill: var(--svg-team-icon-color);
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-icon-svg:not(:last-child) {
  margin-right: 10px;
}
.jobs {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-us {
  text-align: center;

  margin-bottom: 50px;
}
.section-second {
  background: var(--other-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.photo-border:not(:last-child) {
  margin-right: 30px;
}
.photo-border {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team {
  text-align: center;
  margin-bottom: 50px;
}

.list-photo {
  display: flex;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.name {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: var(--footer-hover-color);
}
.team-profil {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}

.clients {
  margin-top: 94px;
  margin-bottom: 94px;
}
.all-clients {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.our-clients {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.list-clients-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--svg-team-icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-clients-item:hover .clients-svg {
  fill: var(--accent-color);
}
.list-clients-item:hover {
  border: 1px solid var(--accent-color);
}
.clients-svg {
  fill: var(--svg-team-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*------END MAIN------*/

/*------FOOTER------*/

.footer {
  background: var(--background-color);
  height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.list-adress {
  margin-top: 20px;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.footer-logo-second {
  color: var(--main-text-color);
}

.navigation-list-link:not(:last-child) {
  margin-bottom: 9px;
}
.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}
.first-footer {
  display: flex;
  align-items: baseline;
}
.second-footer {
  margin-left: 70px;
}
.list-icon {
  display: flex;
  margin-top: 20px;
}
.footer-social {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-hover-color);
}
.icon-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-footer:hover {
  background-color: var(--accent-color);
}
.footer-svg {
  display: flex;
  width: 20px;
  height: 20px;
  fill: var(--footer-hover-color);
}

.icon-footer-list:not(:last-child) {
  margin-right: 10px;
}
.all-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.subscribe-mail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 93px;
}

.footer-form {
  display: flex;
  align-items: flex-end;
}

.send-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: solid transparent;
}
.svg-subscribe {
  margin-right: 28px;
  margin-left: 10px;
}
.text-mail {
  width: 358px;
  height: 50px;
  margin-top: 20px;
  color: var(--main-text-color);
}
.subscribe-mail input {
  padding: 15px;
  font-size: 16px;
  background-color: var(--background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.title-sibscribe {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

/*------END FOOTER------*/

/*----END INDEX.HTML----*/

/*----PORTFOLIO-----*/

.header-border {
  border-bottom: 1px solid #ececec;
}

.first-section {
  padding-bottom: 94px;
  padding-top: 94px;
}
/*----MAIN-----*/

.all-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.project:not(:last-child) {
  margin-right: 8px;
}
.projects {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--other-color);
  border-radius: 4px;
  border: none;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects:hover,
.projects:focus {
  background-color: var(--accent-color);
  color: var(--main-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.border:nth-child(3n) {
  margin-right: 0;
}
.border:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.border {
  position: relative;
  width: 370px;
  border: 1px solid #eeeeee;
  margin-right: 30px;
  margin-bottom: 30px;
}
.shadow {
  display: block;
}
.shadow:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.border:hover .second-overlay {
  transform: translateX(0);
}
.list-hide {
  position: relative;
  overflow: hidden;
}
.second-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  width: 320px;
  line-height: 28px;
  color: var(--main-text-color);
}

.container .list {
  display: flex;
  flex-wrap: wrap;
}
.our-projects {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.our-projects-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*-----END MAIN*/

.backdrop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--main-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
.close-btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--main-text-color);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover {
  fill: var(--accent-color);
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.title-form {
  text-align: center;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-input:focus,
.modal-form-message:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-svg {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
}
.modal-form-wraper {
  display: block;
  position: relative;
  margin-top: 4px;
}
.modal-form-message {
  padding: 12px 16px;
  font-size: 12px;
  letter-spacing: 0.01em;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-bottom: 20px;
  cursor: pointer;
}
.modal-form-field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.modal-form-svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-label-agree::before {
  display: inline-block;
  content: '';
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-agree:checked + .modal-label-agree::before {
  background-color: var(--accent-color);
  background-image: url(../images/modal/iconcheck.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}
.text-form {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}
.modal-label-agree {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}

.modal-form-btn {
  margin: auto;
  align-self: flex-start;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: solid transparent;
  height: 50px;
  width: 200px;
  font-size: 16px;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  cursor: pointer;
}
