$main-font: 'Roboto', sans-serif;
$primary-text-color: #757575;
$title-text-color: #212121;
$main-text-color: #ffffff;
$accent-color: #2196f3;
$logo-color: #000000;
$other-color: #f5f4fa;
$contacts-color: rgba(255, 255, 255, 0.6);
$background-color: #2f303a;
$svg-team-icon-color: #afb1b8;
$footer-hover-color: white;
